<!-- How do I open a widget?
Widgets can be opened in one of two ways:
Either you can configure the open widget client action -->

<!DOCTYPE html>
<html ng-app="flocApp">
  <head>
    <meta charset="utf-8">
    <title>Frockoli</title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/fonts/fonts.css" />
  </head>
  <body ng-controller="mainCtrl">
    <!-- buttons view -->
      <div class="buttons" ng-show ="show" ng-model="show">
        <div class="header" >
          <div class="food-img" style="background-image: url('{{foods[0].img}}'); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>
          <p>/eat <span>{{foods[0].search}}</span></p>
        </div>
        <div>
          <p id="top">Top 3 Picks</p>
        </div>
        <div class="btns">
          <div ng-repeat="food in foods">
            <div class="food-item">
              <div class="dish" ng-click="confirmation(food.foods, method)">
                <p>{{food.foods}}<span>${{food.price}}</span></p>
              </div>
              <p id="dist">{{food.name}}</p>
            </div>
        </div>
        </div>
        <div>
          <label name='method'>Pick up
            <input type='radio' name='method' value='Pick up' checked="checked" ng-model="method"/>
          </label>
          <label name='method'>Delivery
            <input type='radio' name='method' value='Delivery' ng-model="method"/>
          </label>
        </div>
      </div>

    <!--conformation view -->
    <div class="confirmation" ng-show="!show">
      <h3>Meal Confirmation</h3>

    <!--Pickup or Delivery-->
      <img src="{{selection[0].logoUrl}}" alt="">
      <p>{{selection[0].foods}} for ${{selection[0].price}} from {{selection[0].name}} for {{selection[0].method}}</p> <!-- meal name, and restuarant -->
      <a href="https://www.google.com/maps/place/{{selection[0].streetAddress}} {{selection[0].city}} {{selection[0].state}} {{selection[0].zip}}" target="_blank">

      <div id="map" ng-show="map">
            <iframe id="iframe-map"
                width="500"
                height="350"
                frameborder="0" style="border:0"
                ng-src="{{trustSrc(map)}}" allowfullscreen>
            </iframe>
        </div>

      <button type="button" name="button" >No Thanks</button>
      <button type="button" name="yes please">Yes Please</button>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="./js/flocApp.js"></script>
    <script src="./js/mainCtrl.js"></script>
    <script src="./js/mainSvc.js"></script>

    <script>
    debugger;
    </script>
  </body>
</html>
