*{
  font-family: 'Proxima Nova', Georgia, sans-serif;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
  text-align: center;
}
.header img{
  margin-top: 20px;
  border-radius: 100%;
  border: 2px solid #0abe50;
  width: 200px;
  height: 200px;
}
.header p{
  color: gray;
}
.header span{
  color: gray;
  font-weight: 900;
}
#top {
  color: rgb(83, 83, 83);
  margin: 15px 0 15px 0;
  margin-left: 2vw;
  font-size: 15px;
  font-weight: bolder;
}

.ng-scope {
  width: 100%;
}

.food-item{
  width: 90vw;
  text-align: center;
}

.btns {
  padding-bottom: 50px;
}

.dish{
  width: 90vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 13px;
  padding-right: 18px;
  background-color: #00bb53;
  border-radius: 5px;
  cursor: pointer;
}

.dish:hover{
  background-color: #00bb53;
}

#dist{
  color: #afadad;
  font-weight: 900;
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 16px;
  margin-left: 13px
}
.food-item p{
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  line-height: 58%;
  font-weight: 700;
}

.food-item span{
  font-weight: bolder;
  font-size: 20px;
  margin-top: 1px;
  line-height: 22%;
}
.confirmation button{
  background: transparent;
  padding: 0;
  border: 2px solid black;
}

.food-img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  text-align: center;
  margin: auto;
}
